<div class="row">
  <h2 class="left">Edit Recipe</h2>
</div>

<form action="/users" method="post">
  
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Recipe name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Style">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="img" placeholder="img">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="caption" placeholder="caption">
    </div>
  </div>

  <input type="submit" value="ADD RECIPE">
</form>