<div class="row">
  <h2 class="left">Edit Recipe</h2>
</div>

<form action="/users" method="post">
  
  <div class="form-row">
    <div class="col">
      <input type="text" name="recipeName" class="form-control" placeholder="Recipe name">
    </div>
    <div class="col">
      <input type="text" name="style" class="form-control" placeholder="Style">
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="img" placeholder="img">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="caption" placeholder="caption">
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <!-- <label>Method:</label>
      <select name="method">
        <option value="All Grain">All Grain</option>
        <option value="Extract">Extract</option>
      </select> -->
      <div class="col">
        <input type="text" class="form-control" name="method" placeholder="Method">
      </div>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="batchSize" placeholder="Batch Size">
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="ABV" placeholder="ABV">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="SRM" placeholder="SRM">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="yeast" placeholder="Yeast">
    </div>
  </div>

  <input type="submit" value="ADD RECIPE">
</form>