<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/_head/_head') %>

<body>
  
  <%- include('./partials/_mainNav/_navBar') %>

  <header class="container">
    <h2>Welcome Please Log In With Google</h2>
  </header>

  
</body>
</html>
