/* imports */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Potta+One&display=swap');

/* variebles */
:root {
--primary-black: #3c3939;
--primary-grey: #b5afafd2;
--font-brand: 'Kaushan Script', cursive
}

/* resets */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.brand-logo {
  margin-left: 15px;
  font-family: 'Baloo', cursive;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

header {
  height: 100px;
}
.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.nav_button {
  font-size: 16px;
}

.log_button {
  font-weight: 30px;
}


/* container keeps everything in the center */
.container {
  width: 150px;
  
}

.main__posts {
  display: flexbox;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

  /* feed post */
.card {
  width: 20%;
  min-height: 100px;
  border: 1px solid var(--primary-grey);
  border-radius: 5px;
  align-self: center;
  box-shadow: 0px 0px 3px 0px var(--primary-grey);
  margin-bottom: 20px;
}

/* card header start */
.card__header {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  font-size: 12px;
  border-bottom: 1px solid var(--primary-grey);
}

.card__header small a:link,
.card__header small a:visited {
  text-decoration: none;
  color:  var(--primary-black);
} 

.card__header__img {
  width: 30px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.card__header__img img {
  width: 100%;
  height: 100%; 
}

/* card header end */

/* card body start */

.card__body {
  height: 120px;
  overflow: hidden;
}

.card__body img {
  width: 100%;
  height: 100%;
}

/* card body end */

/* card footer start */

.card__footer__reactions {
  height: 20px;
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  color: grey;
}

.card__footer__icons {
   width: 100px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.card__footer__description {

}

.card__footer__caption {
  height: 10px;
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}

.card__add__comment {
  height: 70px;
  border-top: 1px solid var(--primary-grey);
  /* padding: 15px; */
}

.card__add__comment form {
  width: 100%;
  height: 100%;
}
.card__add__comment form .inline-fields {
  width: 100%;
  height: 100%;
  position: relative;
}

.add-comment {
  width: 100%;
  height: 100%;
  border: none;
  text-indent: 15px;
  font-size: larger; 
  color: black !important;
}