<!DOCTYPE html>
<html>

  <%- include('../partials/_head/_head') %>

  <body>
    
  <%- include('../partials/_mainNav/_navBar') %>

    <!--  Place remaining index content for users here  -->
  </body>

  <header class="container">
    <h2>Welcome New User</h2>
  </header>

  <%- include('../recipe/new') %>

  <section class="main__posts">
    <nav>
      <a href="#">Recipes</a>
    </nav>

    <section class="recipe_list">

      <% if ( user.recipes.length === 0 ) { %>
       <!-- you have no post yet -->
      <% } %>
      
      <% user.recipes.forEach( recipe => { %>
        <div class="post"><%= recipe.caption %> 
        </div>
      <% }) %>

    </section>

  </section>

</html>