<!DOCTYPE html>
<html>

  <%- include('../partials/_head/_head') %>

  <body>
    
  <%- include('../partials/_mainNav/_navBar') %>

    <!--  Place remaining index content for users here  -->
  </body>

  <header class="container">
    <h2>Browse Recipes</h2>
  </header>

  <%- include('../partials/_carousel/_carousel') %>

    <nav>
      <a href="#">Browse Recipes</a>
    </nav>
    
    <div class="main__posts">
          <%- include('../partials/_showRecipes/_showRecipes', {recipes}) %>
    </div>
  
  </div>

</html>