<!DOCTYPE html>
<html>

  <%- include('../partials/_head/_head') %>

  <body>
    
  <%- include('../partials/_mainNav/_navBar') %>

    <!--  Place remaining index content for users here  -->
  </body>

    <%- include('../partials/_recipeAddForm/_recipeAddForm') %>


  </section>

</html>