<!DOCTYPE html>
<html>

  <%- include('../partials/_head/_head') %>

  <body>
    
  <%- include('../partials/_mainNav/_navBar') %>

    <!--  Place remaining index content for users here  -->
  </body>

  <header class="container">
    <h2>Add Recipe</h2>
  </header>

 

  <section class="main__posts">
    <nav>
      <a href="#">Add Recipe</a>
    </nav>

    <%- include('../partials/_recipeAddForm/_recipeAddForm') %>


  </section>

</html>