<h1>Add Recipe</h1>

<form action="/users" method="post">
  <input type="text" name="img" placeholder="img">
  <input type="text" name="caption" placeholder="caption">

  <input type="submit" value="ADD RECIPE">
</form>